# Ignorar el estado local de Terraform 
*.tfstate
*.tfstate.backup

# Ignorar la carpeta donde se descargan los providers
.terraform/
.terraform.lock.hcl

# Ignorar archivos de variables que puedan contener credenciales o tokens
*.tfvars
*.tfvars.json